/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */







.logo {
display:inline-block;
margin-left: 1400px;
margin-bottom: 20px;

}


.navigation {
color: grey;
margin-top: 20px;
margin-left: 60px;
margin-right: 0px;
display: inline-block;
word-spacing: 80px;

}

.image1 {
display:inline-block;
margin:-35% 0% 0% 75%;


}

.topContent {
display: inline-block;
border-top:1px solid black;
margin-left: 50px;
margin-right: 50px;
}

#features {
	
margin-right: 900px;
display: inline-block;
margin-left: 50px;
margin-top: 10%;
}

#about {
	margin-left: 50%;
	display: inline-block;
	margin-top: -3.5%;
	margin-right: 5%;
	margin-bottom: 3%;
}

.middle-img {
	display: inline-block;
	margin-left: 50px;
	width:1500px;
}



#Innovation {
	font-family: 'Bangers';
	font-size: 75px;
	display: inline-block;
	margin-left: 150px;
	margin-top:100px;
}

#indent {
	margin-left: 65px;
	display: inline-block
	margin-top: 100px;
	font-size: 75px;
	margin-left: 260px;
}

#demand {
	font-family: 'Bangers';
	font-size: 75px;
	display: inline-block;
	margin-left: 190px;
}

#GetStarted {
	display:inline-block;
	border: solid;
	border-width: 1px;
	padding: 10px 40px;
	font-family: 'Titillium Web'
	margin-top: 500px;
	margin-left: 200px;
	
}

.bottomContent div {
	display: inline-block;
	width: 27.8%;
	margin-left: 50px;
	margin-right: 20px;
	padding: 2%;
} 

.contact {
	display: inline-block;
	border-top:1px solid black;
	width: 100%;
	text-align: left;
	margin-left: 50px;
	margin-right: 80px;
	padding-top: 30px;
}


.footer {
	
	text-align: center;
	}

.number: {
	padding: 50%;
}